@page
@model BillingNextQuotation.Pages.Dashboard.Admin.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="#">Hold tight.. Dashboard will spin up in few days.</a>.</p>
</div>