@page
@model BillingNextQuotation.Pages.Dashboard.GenUser.IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/_LayoutCustomer.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="#">. Hold tight.. Dashboard will spin up in few days.</a>.</p>
</div>