@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h2>Manage your account</h2>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="row">
        @if (User.IsInRole("Dealers"))
        {
            <div class="col-md-12">
                @RenderBody()
                <script src="~/lib/mvc-grid/js/mvc-grid.js"></script>
                <script>
                    document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
                </script>
            </div>
        }
        else
        {
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
                <script src="~/lib/mvc-grid/js/mvc-grid.js"></script>
                <script>
                    document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
                </script>
            </div>
        }


    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
